body {
    background-color: #EFEFEF;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    font-family: "Itim";
}

    #escrita_email_senha {
        font-size: 1.2em;
        align-items: center;
    }

main {
        background-color: #164343;
        border-radius: 1.5rem;
        padding: 40px;
        min-width: 350px;
        max-width: 600px;
        box-sizing: border-box;
        color: white;
        position: relative;
}

#esqueceu {
    color: #00D5E2; 
    margin-right: 15px; 
    font-size: larger;
}

@font-face {
    font-family: 'Itim';
    src: url('../fontes/Itim-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
 
    #nome_marca{
                color: white;
                font-family: "Itim";
                margin: 0;
               }

        .login-container {
            background-color: #fff;
            padding: 30px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: center;
        }
        .login-container h2 {
            margin-bottom: 20px;
            color: #333;
        }
        .form-group {
            margin-bottom: 15px;
            text-align: left;
        }
        .form-group label {
            display: block;
            margin-bottom: 5px;
            color: #555;
        }
        .form-group input[type="text"],
        .form-group input[type="password"] {
            width: calc(100% - 20px);
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 4px;
            box-sizing: border-box;
        }
        button {
            background-color: #336633;
            color: rgb(0, 0, 0);
            padding: 10px 20px;
            border: 2.5px solid;
            border-radius: 10px;
            cursor: pointer;
            font-size: 16px;
            font-weight: bold;
            font-size: small;
            transition: background-color 0.3s ease;
        }
        button:hover {
            background-color: #0b7356;
        }
        .message {
            margin-top: 15px;
            color: red;
        }

#ajuda {
    margin: 0;
    text-align: right;
    color: #ffffff;
}